<!-- Creator: Nicholas Jones-->

@model ProgressViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<div>
    <h2>The Is the Progress View</h2>
</div>

<!-- This is the progress bar, portions : "style="width: 60%;" aria-valuenow="60"" will need to be generated to be in line with users progress-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="progress" style="height: 40px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Completed</div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Remaining</div>
            </div>
        </div>
    </div>
</div>




