<!-- Creator: Nicholas Jones-->
@model Accounts
@{
    ViewBag.Title = "Create Accounts";
}
<div class="container my-5" style="max-width: 700px;">
    <form asp-controller="Accounts" asp-action="Create" method="post" class="mt-3">
        <h2 class="text-center mb-2">Create an Account</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Username" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password2" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password2" class="form-control" type="password" />
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row text-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-primary px-5">Submit</button>
            </div>
        </div>
    </form>
</div>