<!-- Creator: Nicholas Jones-->


@model Accounts

@{
    ViewBag.Title = "Create Accounts";
}

<div class="container my-5">

    <form asp-controller="Accounts" asp-action="Create" method="post" class="mt-3">

        <h4>Create an Accounts</h4>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="Username" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control" placeholder="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Password2" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password2" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
        </div>

        <!-- Temporary Placeholders -->
        <!-- Enumeration of Roles
         Roles are not used, permissions are determined by permissions tables ~ Travis Idle
    <div class="form-group row">
        <label asp-for="Role" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Role" class="form-control" placeholder="Role" />
        </div>
    </div> -->
        <!-- Enumeration of Skills or Similar-->
        <div class="form-group row">
            <label asp-for="Skills" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Skills" class="form-control" placeholder="Skills" />
            </div>
        </div>

        <!-- Enumeration of Themes -->
        <!-- should only be accessible within Profile Settings page ~Travis Idle
    <div class="form-group row">
        <label asp-for="Theme" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Theme" class="form-control" placeholder="Theme" />
        </div>
    </div> -->
        <!-- File Selector TODO -->
        <!-- opinion: should only be accessible via Profile Settings Page.
        Also, PicturePath refers to the path within our server's storage directories.
        This is to avoid storing direct image files within our database, improve query speed. ~Travis Idle -->
        <div class="form-group row">
            <label asp-for="PicturePath" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="PicturePath" class="form-control" placeholder="PicturePath" />
            </div>
        </div>
        <!-- End Temporary -->

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>

</div>