<!-- Creator: Nicholas Jones -->
<div class="container my-5" style="max-width: 700px;">
    <div class="text-center">
        <div class="col-12">
            <h2 class="pb-2">Page Not Found..</h2>
            <img class="img-fluid" src="~/static/binky.jpg" style="width: 50%" ; />
        </div>
    </div>
</div>
