@model Accounts
@{
    ViewBag.Title = "Authentication";
}
    <div class="container bg-light my-5" style="max-width: 500px;">
        <form asp-controller="Accounts" asp-action="Index" method="post" class="mt-3">
            <h2 class="text-center mb-2 font-weight-bold"><br />KARBON Access<br /></h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <label asp-for="Username" class="col-sm-12 col-form-label"></label>
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                    <a class="form-text text-muted text-right text-light" onclick="location.href='@Url.Action("RecoveryUsername", "Accounts")'">Forgot&nbsp;Username?</a>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <label asp-for="Password" class="col-sm-12 col-form-label"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Username" />
                    <a class="form-text text-muted text-right text-light" onclick="location.href='@Url.Action("RecoveryPassword", "Accounts")'">Forgot&nbsp;Password?</a>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="form-group row text-center">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-primary mt-2 mx-2" style="width: 175px;">Sign&nbsp;In</button>
                </div>
            </div>
        </form><br />
        <hr style="border-color: gray;" />
        <!-- Authentication Navigation -->
        <h2 class="text-center mb-2"><br />New Karbon?</h2>
        <div class="mt-3 text-center">
            <button class="btn btn-primary text-light text-center mt-2 border mx-2" style="width: 175px;" onclick="location.href='@Url.Action("Create", "Accounts")'">Create&nbsp;An&nbsp;Account</button>
        </div>
        <br />
        <br />
    </div>

<!--

        <div class="form-group row">
            <label asp-for="Role" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
            <input asp-for="Role" class="form-control" placeholder="Role" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Skills" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Skills" class="form-control" placeholder="Skills" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PicturePath" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="PicturePath" class="form-control" placeholder="PicturePath" />
            </div>
        </div>

        -->
