<!-- Creator: Nicholas Jones-->
<!-- Edited: Travis Idle -->
@model HomeViewModel
@{
    ViewBag.Title = Model.PageTitle;
}
<!-- Card Example -->
<div>
    <h3 class="text-center">@Model.PageTitle</h3>
    <!-- Nick and I talked talked about the intent for the homepage to be info about the app
         presented before the login page or to be the login page.
         Moved the Dashboard-related elements to Projects/Index.cshtml as that was the intended page
         for them to belong to. -->
</div>
