<!-- Creator: Spencer Stair -->

@model TasksViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<div>
    <h2>Task Title here :)</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="article-Description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Vulputate dignissim suspendisse in est. Viverra maecenas accumsan lacus vel. Viverra mauris in aliquam sem. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Habitasse platea dictumst quisque sagittis. Tellus mauris a diam maecenas. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis. Odio eu feugiat pretium nibh ipsum consequat. In eu mi bibendum neque egestas congue quisque egestas diam. Urna id volutpat lacus laoreet non curabitur gravida arcu ac.
                </p>
            </div>
        </div>
        <!-- This is where the Notes that pertain to the Task exist, these need to be generated from the database, expect a loop-->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    Note Example - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-button">
    <div class="row align-items-start">
        <div class="col">
            <!--This button will take you to the team management page/view; I assume this to be Permission based, so I have disabled the button as a standard-->
            <button type="button" class="btn btn-info" disabled>Team Management</button>
        </div>
        <div class="col">
            <!--Intentionally left blank to save my sanity, had issue centering buttons-->
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">New Note</button>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <button type="button" class="btn btn-success">Complete Task</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning">Edit Task</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger">Delete Task</button>
        </div>
    </div>
</div>

    



