<!-- Creator: Spencer Stair -->

@model TasksViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<div>
    <h2>Task Title here :)</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="article-Description">
                <p>This is where we input that sweet description of the task that needs to be completed</p>
            </div>
        </div>
        <!-- This is where the Notes that pertain to the Task exist, these need to be generated from the database-->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    This is some text within a card body - Notes Example.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-buttons">
    <div class="row align-items-start">
        <div class="col-4">
            <button type="button" class="btn btn-info" disabled>Team Management</button>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <button type="button" class="btn btn-success">Complete Task</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning">Edit Task</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger">Delete Task</button>
        </div>
    </div>
</div>

    



