<!-- Creator: Spencer Stair -->

@model TasksViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<div>
    <h2>Task Title here :)</h2>
</div>

<div class="container-Description">
    <div class="row">
        <div class="col-5">
            <div class="article-Description">
                <p>This is where we input that sweet description of the task that needs to be completed</p>
            </div>
        </div>
    </div>
</div>