<!-- Creator: Minh Dang-->

@model Projects

@{
    ViewData["Title"] = "IndividualPrioject";
}

<div class="container my-5" style="max-width: 700px;">
    <h3 class="text-center mb-2">Create New Project</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <input asp-for="ProjectName" class="form-control col" placeholder="Enter a Project's Name" />
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <br />
    <div class="row">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <input id="datepicker" asp-for="ProjectDeadline" class="form-control col" placeholder="Pick the Project's Deadline" width="300" />
        <script>
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4'
            });
        </script>
    </div>
    <br />
    <div class="row">
        <textarea class="col" id="ProjectDescription" style="max-height:1000px;min-height:400px;" asp-for="ProjectDescription" placeholder="Project's Description (500 characters)"></textarea>
    </div>
    <br />
    <div class="row float-right">
        <p id="Counter"></p>
        <script type="text/javascript">
            $('#ProjectDescription').keyup(function ()
            {
                var left = 500 - $(this).val().length;
                if (left < 0)
                {
                    left = 0;
                }
                $('#Counter').text('Characters left: ' + left);
            });
        </script>
    </div>
</div>
