<!-- Creator: Nicholas Jones-->
<!-- Author: Travis Idle -->

@model ProjectsViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<div>
    <h1>Dashboard</h1>
    <div data-spy="scroll">
    </div>
</div>
