<!-- Creator: -->

@model ProjectsViewModel

@{
    ViewBag.Title = "TeamManagement";
}
<div>
	<div>
		<h2 class="text-center">Team Members</h2>
	</div>
	<div class="container float-left">
		<div class="row border border-primary">
			<div class="col-sm-auto">
				<p class="text-center">User 100000000000000</p>
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn-secondary">Edit</button>
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn-danger">Remove</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<p class="text-center">User 1</p>
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn-secondary">Edit</button>
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn-danger">Remove</button>
			</div>
		</div>
	</div>
</div>